<%- include('bootheader') -%>
<%- include('menubar') -%>



<div class="jumbotron bg-secondary">
    <h1>Translate!</h1>
    <p>Write something here to translate:</p>
    <form method="post" action="/translateView">
      <textarea name="translate" rows="5" cols="40"></textarea><br>
      <input type="submit" value="Done">

</div>


<%- include('bootfooter') -%>
